
.p-80 {
  padding: 40px 40px 40px;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #606060;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #808080;
  margin-top: 2.6%;
}

.scroll-div {
  overflow: auto;
  min-height: 80px;
  max-height: 100vh;
}

#custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

#custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #707070;
}

.filters-personal {
  color: #7d64a5;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  border: solid 2px #7d64a5;
}

.filters-cultural {
  color: #4ea1cb;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  border: solid 2px #4ea1cb;
}

.filters-desired {
  color: #05a785;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  border: solid 2px #05a785;
}

.main-heading {
  color: #16a084;
}

.f-16 {
  font-size: 14px;
}

.f-25 {
  font-size: 25px !important;
}

.total-div {
  color: #d9524f;
  font-size: 16px;
}

.total-div .title-text {
  font-weight: bold;
}

.number-text {
  color: #d9524f;
  font-size: 20px;
  font-weight: bold;
}

.highlight {
  background-color: #d9524f;
  padding: 10px;
  color: white;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.heading-personal {
  color: #7d64a5;
  font-weight: bold;
  font-size: 20px !important;
}

.heading-current {
  color: #4ea1cb;
  font-weight: bold;
  font-size: 20px !important;
}

.heading-desired {
  color: #05a785;
  font-weight: bold;
  font-size: 20px !important;
}
