
<div class="scroll-div" id="custom-scrollbar" [@listAnimation]="data">
  <div class="d-flex justify-content-between align-items-center mt-5 ml-5">
    <h2 class="mb-3 f-25">National Values of <span> Saudi Arabia, 2019</span></h2>
    <div class="d-flex">
      <img height="80" class="pr-4" src="assets/images/misk-logo-c-h.png" alt="logo">
      <img height="80" class="pr-4" src="assets/images/P3-l-1.png" alt="logo">
    </div>
  </div>

  <div class="col-md-12 p-80">

    <div class="d-flex" *ngIf="data.total > 0">
      <!--  personal_values  -->
      <div class="col-md-4">
        <h4 class="heading-personal">Personal Values</h4>
        <div class="d-flex flex-wrap">
          <div *ngFor="let arr of data?.personal_values?.list" class="filters-personal mt-2 ml-1 text-capitalize">{{arr}}</div>
        </div>
        <hr>
        <div>
          <div *ngFor="let arr of data.personal_values.list_details; let i = index"
               class="d-flex align-items-center mt-4">
            <img src="assets/images/personal-bullet.svg">
            <div class="f-16 pl-3"> {{arr?.list_detail}} </div>
          </div>
        </div>
      </div>
      <!-- cultural_values  -->
      <div class="col-md-4">
        <h4 class="heading-current">Current Culture Values</h4>
        <div class="d-flex flex-wrap">
          <div *ngFor="let arr of data?.cultural_values?.list" class="filters-cultural mt-2 ml-1 text-capitalize">{{arr}}</div>
        </div>
        <hr>
        <div *ngFor="let arr of data.cultural_values.list_details; let i = index"
             class="d-flex align-items-center mt-4">
          <img src="assets/images/current-bullet.svg">
          <div class="f-16 pl-3"> {{arr?.list_detail}} </div>
        </div>
      </div>
      <!-- desired_values -->
      <div class="col-md-4">
        <h4 class="heading-desired">Desired Culture Values</h4>
        <div class="d-flex flex-wrap">
          <div *ngFor="let arr of data?.desired_values?.list" class="filters-desired mt-2 ml-1 text-capitalize">{{arr}}</div>
        </div>
        <hr>
        <div>
          <div *ngFor="let arr of data.desired_values.list_details; let i = index"
               class="d-flex align-items-center mt-4">
            <img src="assets/images/desired-bullet.svg">
            <div class="f-16 pl-3"> {{arr?.list_detail}} </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="d-flex align-items-center total-div col-md-12">
        <span class="number-text">Total Respondents:</span>
        <span class="number-text ml-2">{{data?.total}}</span>
      </div>
    </div>
  </div>
</div>
