<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 left_bg animated slideInLeft">
      <app-left-container (eventClicked)="eventClicked($event)" [data]="dataAgainstEvent" [key]="key"></app-left-container>
    </div>
    <div class="col-md-9 right-div px-0 animated fadeIn">
      <app-right-container *ngIf="showInfoContainer" [data]="dataAgainstEvent" [key]="key"></app-right-container>
    </div>

  </div>
</div>
