/*.container-fluid {*/
/*  color: #fff;*/
/*}*/

.heading_container {
  padding: 15% 20% 0 15%;
}

.content-container {
  padding: 0 24% 0 15%;
}

.sub-heading {
  opacity: 0.6;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.title-header {
  font-size: 16px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.age-filter-active {
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border-radius: 14px;
  border: solid 1px #fff;
}

.age-filter {
  color: #8bcfc1;
  padding: 5px;
  font-size: 14px;
  border-radius: 14px;
  border: solid 1px #8bcfc1;
}

#map {
  fill: transparent;
  stroke: #16a084;
}

#map g {
  transition: .3s;
  fill: #8bcfc1
}

#map g:hover {
  fill: #ffffff;
  stroke: #16a084;
  cursor: pointer;
}

.active, .active:hover {
  fill: #ffffff !important;
  stroke: #16a084;
}

.container-fluid {
  color: #fff;
}

.heading_container {
  padding: 15% 20% 0 15%;
}

.content-container {
  padding: 0 24% 0 15%;
}

.sub-heading {
  opacity: 0.6;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.title-header {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.age-filter {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 16px;
  border: solid 1px #8bcfc1;
}

#ven {
  fill: transparent;
  stroke: #fff;
}

#ven g {
  transition: .3s;
}

#ven g:hover {
  fill: #ffffff;
  stroke: #16a084;
  cursor: pointer;
}

.f-25 {
  font-size: 25px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.mt-age {
  margin-top: 165px;
}

.mt-100 {
  margin-top: 90px;
}

.pt-80 {
  padding-top: 80px;
}

.bb2 {
  border-bottom: 2px solid #8bcfc1;
}

.bb2-active {
  border-bottom: 2px solid #ffffff;
}

.w-fit {
  width: fit-content !important;
}

.filter-active {
  color: #fff;
}

.filter-inactive {
  color: #8bcfc1
}

.pointer-cursor {
  cursor: pointer !important;
}

.ml-30 {
  margin-left: 30px;
}

.ml-52 {
  margin-left: 52px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  border-color: #ffffff;
  color: #ffffff;
}
