<div class="container-fluid pt-80">
  <div class="d-flex">
    <div>

      <h1 class="f-25" [innerHTML]="transformYourHtml(data?.question)"></h1>


      <div class="d-flex mt-4 justify-content-between">
        <div class="d-flex flex-column">
          <p class="f-14">Region</p>
          <div>
            <svg version="1.1" width="200px" height="135px" id="map" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px"
                 viewBox="0 0 165.7 135">
              <g id="east" [ngClass]="regionFlags.east? 'active': ''">
                <path d="M106.9,120.9l0.2-0.1l6.8-3.5l0.8-0.3c0.1,0,0.1,0,0.2,0l22.5-3.2l23.3-8.2l5.1-16.2l0,0l-2.9-4.8
		c-0.1,0.1-0.2,0.1-0.3,0.1c-0.1,0-0.2,0-0.3,0L141.9,82c-0.1,0-0.2-0.1-0.2-0.1l-0.1-0.1l-5.9-7.5l-1.9-2.5c0-0.1-0.1-0.1-0.1-0.2
		l0-0.2c0-0.1,0-0.1,0-0.2l0-0.6c-0.1,0-0.1-0.1-0.2-0.2l-0.3-0.2l0,0c-0.1,0-0.2,0.1-0.2,0.1l-0.2,0c-0.1,0-0.2,0-0.3,0l-0.5,0
		c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.3-0.2-0.4c0-0.1,0-0.2,0-0.3l0-0.2c0-0.2,0.1-0.3,0.2-0.4v0c0,0,0-0.1,0-0.2
		c0-0.1,0.1-0.2,0.1-0.3c-0.1-0.1-0.2-0.3-0.2-0.5l0,0c-0.1,0.1-0.1,0.1-0.2,0.1l-0.4,0.1c-0.1,0-0.1,0-0.2,0l-0.5,0l-0.6-0.1
		c-0.1,0-0.1,0-0.2-0.1l-0.4-0.2c-0.1,0-0.2-0.1-0.2-0.2l-0.4-0.4c0,0-0.1-0.1-0.1-0.1l-0.3-0.5c-0.2,0-0.3-0.1-0.4-0.1
		c-0.1-0.1-0.2-0.2-0.3-0.3l-0.2-0.4c0,0-0.1-0.1-0.1-0.2c0-0.1,0-0.1,0-0.2l0-0.5l-0.1,0c-0.1-0.1-0.3-0.2-0.3-0.4l-0.1-0.4
		l-0.2-0.2c-0.2,0-0.3-0.1-0.5-0.2c-0.1-0.1-0.2-0.2-0.2-0.3l-0.2-0.6c0-0.1,0-0.2,0-0.2l0-0.2l0-0.1c0-0.1-0.1-0.1-0.1-0.2l0-0.1
		c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.2,0-0.3l0.1-0.3l-0.2-0.4c-0.1-0.1-0.1-0.2-0.1-0.4l-0.1,0l0,0c-0.2,0-0.4,0-0.6-0.1l-0.2-0.2
		l-1-1.3c0,0-0.1-0.1-0.1-0.1l-0.1-0.2c-0.1-0.1-0.2-0.2-0.3-0.3l-0.1-0.1c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.2-0.2-0.4-0.1-0.6l0-0.2
		c0-0.1,0-0.1,0.1-0.2l0,0l-0.2-0.5l-0.1-0.5c0-0.1,0-0.1,0-0.2c-0.1,0-0.2,0-0.3,0c-0.2-0.1-0.4-0.2-0.5-0.4
		c-0.1-0.2-0.1-0.3-0.1-0.5c0,0,0-0.1,0-0.1c0-0.1,0-0.3,0-0.4c0,0-0.1-0.1-0.1-0.2c-0.1-0.3,0-0.7,0.3-0.9l0.1-0.2
		c0.1-0.2,0.2-0.3,0.4-0.3c0.2-0.1,0.4-0.1,0.6,0c0.1,0.1,0.3,0.1,0.4,0.3l0,0l0.1,0l0-0.7l-0.1-0.3l-0.5-0.2c-0.1,0-0.1,0-0.1-0.1
		l-0.1-0.1c0,0-0.1-0.1-0.1-0.1l-0.1-0.1c0,0-0.1-0.1-0.1-0.1l-0.1-0.1c0-0.1-0.1-0.1-0.1-0.2l-0.2-0.7c0,0,0-0.1,0-0.1l0-0.1l0-0.4
		c0-0.1-0.1-0.1-0.1-0.2c0-0.1-0.1-0.2-0.1-0.3v-0.2c0-0.1,0-0.2,0-0.2c0,0,0.1-0.2,0.1-0.2l0.1-0.1l0,0l0,0l-0.1,0
		c-0.1,0-0.1,0-0.2,0l-0.2,0c-0.1,0-0.2-0.1-0.3-0.1l-0.3-0.2l-0.4-0.2c-0.1,0-0.1-0.1-0.2-0.1l-0.3-0.2c-0.1,0-0.1-0.1-0.2-0.1
		c0,0-0.1-0.1-0.1-0.1l-0.2-0.3l-0.5-0.7c-0.1,0-0.2-0.1-0.2-0.1c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.1,0-0.2,0l0,0c-0.1,0-0.2,0-0.2,0
		c-0.2,0.1-0.5,0-0.7-0.1c-0.2,0-0.3-0.1-0.4-0.3c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.1-0.1c0,0-0.1-0.1-0.1-0.1
		c-0.1-0.1-0.2-0.2-0.2-0.3l-0.1-0.2c0-0.1,0-0.2,0-0.2l0-0.2c-0.2,0-0.3,0-0.4-0.1c-0.2-0.1-0.3-0.4-0.3-0.6v0c0,0-0.1,0-0.1-0.1
		l-0.1-0.1c-0.1,0-0.1,0-0.2-0.1c-0.2-0.1-0.4-0.4-0.4-0.6c0-0.1,0-0.1,0-0.2c0,0-0.1,0-0.1,0c-0.2-0.1-0.3-0.2-0.4-0.4
		c-0.1,0.1-0.3,0.2-0.4,0.2h-0.2c-0.3,0-0.5-0.1-0.6-0.4l-0.1-0.1c-0.2-0.1-0.3-0.2-0.4-0.4c0-0.1,0-0.3,0-0.4c0,0,0,0-0.1-0.1
		c-0.2-0.1-0.3-0.2-0.4-0.4c-0.1-0.2-0.1-0.4,0-0.5c0,0,0-0.1,0-0.1l0.2-0.6c0-0.1,0-0.1,0.1-0.2l0-0.1l-0.3-0.3
		c0,0-0.1-0.1-0.1-0.2c-0.1-0.1-0.1-0.2-0.2-0.4v0l-0.3-0.2c-0.2-0.1-0.4-0.4-0.4-0.6l-0.3-0.4c0,0-0.1-0.1-0.1-0.2l0-0.2
		c0-0.1,0-0.2,0-0.3l0-0.2c0,0,0-0.1,0-0.1l0,0l-0.4-0.4c0,0-0.1-0.1-0.1-0.1l-0.1-0.2c0-0.1-0.1-0.1-0.1-0.2l0-0.1
		c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1-0.2-0.2-0.4-0.1-0.6c0-0.1,0.1-0.2,0.1-0.3c0,0,0.1-0.1,0.1-0.1l0,0c0,0-0.1,0-0.1-0.1l-5.7,0.1h0
		c-0.3,0-0.6-0.2-0.7-0.5l0-0.1l-0.3-0.3c-0.1,0-0.1-0.1-0.1-0.2l-0.3-0.6l-0.1-0.3c0-0.1,0-0.1,0-0.2l0-0.6l-0.4-1.1l-0.2-0.4
		l-0.1,0l-6.6-0.8L94,28.2c-0.1,0.1-0.2,0.1-0.2,0.2L90,29.8l-0.9,0.5L88.3,31l-0.6,0.6l-0.4,0.6l-2.8,5.2l-0.4,0.6l-1.5,1.8
		l-0.2,0.6v0.1l0.2,0.2l0,0l0.7,0.5L84,42l0.2,0.3l0.3,0.9l0.2,0.2l2.4,1.3l0.7,0.1c0.1,0,0.2,0,0.2,0.1l0.4,0.3l0.6,0.7l0.9,0.8
		l0.3,0l1.2,0l0.5,0.1l0.5,0.2l0.6,0.3l2.3,1.5l1.4-0.2c0.1,0,0.2,0,0.2,0l0.5,0.2c0.1,0,0.1,0.1,0.2,0.1l1.3,1.3
		c0,0,0.1,0.1,0.1,0.1l0.3,0.4l2.4,1c0.1,0,0.2,0.1,0.2,0.1c0.1,0,0.1,0.1,0.1,0.1l0.2,0.3c0,0.1,0.1,0.1,0.1,0.2l0.1,0.4l0.1,0.4
		l0.3,12.1l0,0l2.8,2l2.4,2.5l0.4,0.6l0.4,0.8L109,72c0,0,0,0.1,0,0.1l0.1,1l0,2l-2.3,18.4l-4.1,32.5l4-5
		C106.8,121,106.8,121,106.9,120.9"/>
              </g>
              <g id="west" [ngClass]="regionFlags.west && 'active'">
                <path d="M69.7,94.4c0,0,0-0.1,0-0.1l0-0.2l0-0.3l0.4-1.6l-0.1-1.4l0-0.3c0-0.1,0-0.1,0.1-0.2l0.1-0.2c0,0,0-0.1,0.1-0.1l0.5-0.8
		l0-0.2l-0.4-3.2l0.2-0.9l-0.7-0.1l-1.3,0.3l-0.3,0c-0.1,0-0.1,0-0.2,0L67.5,85c-0.1,0-0.1-0.1-0.2-0.1l-0.4-0.3
		c-0.1-0.1-0.1-0.1-0.1-0.2l-0.2-0.3c0-0.1-0.1-0.1-0.1-0.2l-0.1-0.2c0-0.1,0-0.1,0-0.2l0.1-1.1c0-0.1,0-0.1,0-0.2l0.1-0.2l-0.2-0.1
		l-0.3-0.1l-1.6-0.1l-1.2,0l-0.7-0.1l-0.5-0.3l-0.4-0.4c0,0-0.1-0.2-0.1-0.2c0,0-0.1-0.1-0.1-0.1l-1-2.4c0,0,0-0.1,0-0.1l-0.3-1.4
		L60,76.3l-0.7-1.7l-0.2-0.1c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1-0.1-0.1-0.2l-0.1-0.1c-0.1-0.1-0.1-0.1-0.1-0.2l-0.1-0.2
		c0-0.1,0-0.1,0-0.2l0-0.6l0-0.2l0-1.4l0.1-1.5l0.2-1l-0.1-0.2c0-0.1-0.1-0.2-0.1-0.3c0-0.1,0-0.3,0-0.4c0,0,0.1-0.2,0.1-0.2
		l0.1-0.2l0.5-0.7l-0.6-0.5l-0.2-0.3c0,0-0.1-0.1-0.1-0.1l-0.2-0.4l-0.6-2l-0.9-0.2c-0.1,0-0.1,0-0.2-0.1l-0.4-0.3
		c-0.1-0.1-0.1-0.1-0.2-0.2l-0.2-0.2c0,0-0.1-0.1-0.1-0.1l-0.1-0.5c0-0.1,0-0.1,0-0.2l0.1-2.2l0-0.1l-0.2-0.1l-1.9-0.5l-2.1-0.3
		L50,58.6l-1,1.1c0,0-0.1,0.1-0.1,0.1l-0.2,0.1c0,0-0.2,0.1-0.2,0.1l-0.4,0.1l-0.4,0l-1,0l-0.3,0.1l-2.2,0.7l-0.3,0l-0.2,0
		c-0.1,0-0.1,0-0.2-0.1l-0.4-0.2c0,0-0.1-0.1-0.2-0.1c-0.1,0-0.1-0.1-0.1-0.1l-0.3-0.4c0,0-0.1-0.1-0.1-0.1l-0.2-0.6
		c0-0.1,0-0.1,0-0.2l0.1-2.3l-0.1-0.8L42,54.9v-0.3l0.4-2.7c0,0-0.1,0-0.1,0l-0.2,0c-0.1,0-0.1,0-0.2-0.1l-0.2-0.1
		c-0.1,0-0.1-0.1-0.2-0.1l-0.2-0.1c-0.1-0.1-0.1-0.2-0.2-0.2L41,51c0-0.1-0.1-0.2-0.1-0.2l0-0.2c0-0.1,0-0.2,0-0.3l0.1-0.3l0.4-0.9
		c0.3-1.1,0.3-2,0.3-2l0.1,0l0.3-1l0.3-0.6l0.4-0.6c0,0,0.1-0.1,0.1-0.1l1.1-0.9l0,0l-1.3-0.8l-0.4-0.4c0,0-0.1-0.1-0.1-0.1
		l-0.1-0.2c0,0,0-0.1-0.1-0.2l-0.9-3.6l-0.4-0.4L40,37.5l-0.7-0.4L39,36.9c-0.1-0.1-0.1-0.1-0.2-0.2l-0.2-0.1l-0.3-0.1l-2.9-0.8
		c-0.1-0.1-0.2-0.1-0.3-0.2l-0.2-0.2l-0.1,0l-0.3,0.1l-1,0.5c0,0-0.1,0-0.1,0l-0.2,0c-0.1,0-0.2,0-0.2,0l-0.2,0
		c-0.1,0-0.2-0.1-0.3-0.1l-0.2-0.1c0,0-0.1-0.1-0.1-0.1L32,35.3c0-0.1-0.1-0.1-0.1-0.2L31.8,35c-0.1,0-0.2,0-0.3-0.1l-0.4-0.2
		L30.6,35c-0.1,0-0.1,0-0.2,0l-0.3,0l-2.3-0.3l-1-0.3c0,0-0.1,0-0.1-0.1l-0.4-0.2l-0.8-0.7c0,0-0.1-0.1-0.1-0.1l-0.4-0.8L25,32
		l-0.1-1.4l0-0.9l-0.6,0.5l-0.4,1c0,0-0.1,0.1-0.1,0.1l-0.1,0.2c-0.1,0.1-0.1,0.1-0.2,0.2l-0.2,0.1c-0.1,0-0.1,0.1-0.2,0.1l-0.2,0.1
		c-0.1,0-0.1,0-0.2,0l-1.4-0.1l-0.8-0.1l-1.6-0.5h-0.4l-1.8,0.4l-0.8,0.3c-0.1,0-0.2,0-0.3,0h-0.3c-0.1,0-0.2,0-0.2,0l-0.3-0.1
		c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1-0.1-0.1-0.1l-2.2-2.8l-0.3-0.2l-1.4-0.4H10l-0.5,0.1l-1.1,0.1l-1.9,0.4
		L6.2,29c0,0-0.1,0.1-0.1,0.1L6,29.1c-0.1,0-0.1,0.1-0.2,0.1l-0.2,0c-0.1,0-0.1,0-0.2,0l-1.1-0.1L3.4,29l-0.4,0c0,0.1,0,0.2-0.1,0.3
		c0,0.1,0,0.2-0.1,0.3L2.7,30l-0.1,0.3l0.1,0.2c0,0.1,0,0.1,0,0.2l0.1,0.8c0,0.2,0,0.3-0.1,0.4l-0.3,0.6c0,0.1-0.1,0.2-0.1,0.3
		l-0.1,0.1l-0.1,0.3c0,0,0,0.1,0,0.1L1.9,34c0,0.1-0.1,0.3-0.2,0.4v0c0,0,0,0,0,0.1c0.1,0,0.1,0.1,0.2,0.2c0.1,0,0.2,0,0.2,0
		c0,0,0.1,0,0.1,0c0.1,0,0.2,0,0.3,0c0.1,0,0.2,0,0.3,0.1c0.1,0,0.1,0.1,0.2,0.1l0.2,0c0.1-0.1,0.3-0.1,0.5-0.1c0.1,0,0.1,0,0.2,0
		c0.2-0.1,0.4,0,0.6,0.1l0.3,0.2c0,0,0.1,0,0.1,0C5,35,5.1,35,5.2,35.1l0.3,0.1c0.2,0.1,0.4,0.2,0.6,0.4l0.1,0.2
		c0.1,0.2,0.1,0.3,0,0.5l0,0c0,0,0.1,0.1,0.1,0.2l0.1,0.2L6.8,37c0,0,0.1,0.2,0.1,0.2C7,37.2,7,37.4,7,37.5l0,0.2c0,0,0.1,0,0.1,0.1
		c0.1,0.1,0.2,0.1,0.2,0.2l0.2,0.2c0,0.1,0.1,0.1,0.1,0.2L7.9,39l0.2,0.2c0.1,0.1,0.1,0.2,0.1,0.2c0,0,0,0.1,0.1,0.1l0,0.2
		c0,0.1,0,0.1,0,0.2l0.1,0.5l0.4,0.5c0,0,0.1,0.1,0.1,0.1l0.4,0.5l0.3,0.2c0.1,0,0.1,0.1,0.1,0.1l0.9,1.2c0,0,0.1,0.2,0.1,0.2
		c0.1,0.2,0.1,0.4,0,0.6l0,0l0.1,0.3l0.6,0.7l0.4,0.4c0.1,0,0.1,0.1,0.1,0.2l0.1,0.1c0.2,0.1,0.4,0.2,0.4,0.4l0.1,0.5l0.2,0.4
		c0,0,0,0.1,0.1,0.1l0.2,0.3l0.4,0.4l0.5,0.6l0.7,1.2l0.6,1.4l0.5,0.8l0.5,1.2l0.6,0.1c0.1,0,0.1,0,0.2,0.1l0.2,0.1
		c0.1,0,0.1,0.1,0.2,0.2l0.2,0.2c0.1,0.1,0.1,0.2,0.2,0.3l0.1,0.6c0,0,0,0.1,0,0.1l0,0.2c0,0.1,0,0.2-0.1,0.3l-0.1,0.2
		c0.1,0.1,0.1,0.2,0.1,0.2c0,0,0,0,0,0.1c0.1,0,0.1,0,0.2,0l0.2,0c0.2,0,0.4,0.1,0.5,0.3l0.6,0.7c0.1,0,0.1,0.1,0.2,0.1
		c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0.1,0.1,0.1,0.2l0.2,0.3c0,0.1,0.1,0.1,0.1,0.2c0,0,0,0,0,0.1c0,0.1,0.1,0.1,0.1,0.2l0.1,0.3l0.3,0.3
		c0,0,0.1,0.1,0.1,0.1l0.1,0.2c0.1,0.1,0.1,0.3,0.1,0.4c0,0,0,0.1,0.1,0.2c0,0,0,0.1,0,0.2l0.1,0.2l0.3,0.3c0,0,0.1,0.1,0.1,0.1
		c0.1,0.1,0.1,0.1,0.1,0.2c0,0,0.1,0.1,0.1,0.1c0,0,0.1,0.1,0.1,0.1l0.3,0.4l0.1,0.3c0,0,0,0.1,0,0.2l0.1,0.4l0,0.5l0.1,0.4
		c0,0,0,0.1,0,0.2l0,0.2c0,0.2,0,0.3-0.1,0.4l-0.1,0.2v0.3c0,0.1,0,0.3-0.1,0.4l-0.1,0.2v0c0,0.1,0,0.2,0,0.3l0,0l0.3,0.5l1,1.4
		l0.4,0.6c0,0.1,0.1,0.1,0.1,0.2l0.1,0.2c0,0.2,0,0.3,0,0.5c0,0,0,0.1,0,0.1l0.2,0.2c0,0,0.1,0,0.1,0l0,0c0.2-0.1,0.4-0.2,0.6-0.2
		H25c0.1,0,0.3,0,0.4,0.1l0.5,0.3c0,0,0.2,0.1,0.2,0.1c0.1,0.1,0.2,0.2,0.3,0.3l0.1,0.1c0.1-0.1,0.2-0.1,0.3-0.2
		c0.2-0.1,0.4-0.1,0.6-0.1c0.2,0.1,0.4,0.2,0.4,0.4c0,0,0.1,0,0.1,0.1c0.2,0.2,0.3,0.4,0.2,0.7c0.1,0,0.1,0,0.2,0
		c0.2,0,0.3,0.1,0.4,0.2l0.5,0.4c0.1,0,0.1,0.1,0.1,0.1l0.3,0.3c0,0,0,0,0.1,0l0.2,0c0.1,0,0.1,0,0.2,0.1l0.2,0.1
		c0.1,0,0.1,0.1,0.2,0.1l0.1,0.2c0,0,0,0,0,0.1l0.1,0c0.2,0,0.3,0.1,0.4,0.3l0.1,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0,0.1,0,0.1,0
		c0.1,0.1,0.2,0.1,0.3,0.2l0.1,0.2c0.1,0.1,0.1,0.1,0.1,0.2l0.3,1.1l0.2,0.3c0.1,0,0.2,0,0.3,0.1c0.2,0.1,0.4,0.3,0.4,0.6l0,0.1l0,0
		c0.1,0.1,0.2,0.3,0.2,0.4v0l0.4,1.6l0,0c0,0,0,0.1,0,0.1c0,0.1,0.1,0.1,0.1,0.2l0.1,0.1l0.2,0.3c0.3,0.1,0.5,0.4,0.5,0.7
		c0,0.1,0,0.1,0,0.2l0,0.2c0,0,0,0.1,0,0.1c0,0,0,0.2,0,0.2c0.1,0,0.1,0,0.2,0l0.2,0.1c0.2,0.1,0.3,0.2,0.4,0.3l0.1,0.1l0,0
		c0.1,0.1,0.2,0.2,0.3,0.3l0.1,0.2c0.1,0.2,0.2,0.4,0.1,0.6l0.2,0.2c0.1,0.1,0.2,0.3,0.2,0.5c0,0.1,0,0.3-0.1,0.4l0.4,0.7
		c0,0,0.1,0.2,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2l0.1,0.2c0,0.1,0,0.1,0,0.2l0,0.4c0,0,0,0,0.1,0c0.2,0.1,0.3,0.3,0.4,0.4
		c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0,0.3-0.1,0.4c0,0.1-0.1,0.2-0.2,0.2L37,86.3c0,0-0.1,0.2-0.1,0.2c0,0,0,0.1-0.1,0.1l0,0.2
		c0,0.1-0.1,0.2-0.2,0.3l-0.2,0.2c0.1,0.1,0.1,0.3,0.1,0.4l-0.1,0.6v0.1c0,0.1,0,0.2-0.1,0.2c0,0.1-0.1,0.1-0.1,0.2l0,0.2
		c0,0.2-0.2,0.4-0.4,0.5l0.1,0.2l0.2,0.3c0,0,0,0,0,0.1c0.1,0.1,0.1,0.1,0.2,0.2c0.2,0,0.4,0.2,0.6,0.4c0.1,0.1,0.1,0.3,0.2,0.5
		c0,0.1,0,0.2,0,0.4c0,0.1-0.1,0.2-0.1,0.3v0l0,0.5c0.2,0.1,0.3,0.2,0.4,0.3l0.1,0.3c0,0.1,0.1,0.1,0.1,0.2c0,0.1,0,0.1,0,0.2
		c0,0,0,0.1,0,0.1l0.1,0.7c0,0.1,0,0.2-0.1,0.3l-0.1,0.2c0,0.1-0.1,0.2-0.2,0.2l-0.1,0.1l0.3,0.5c0,0,0.1,0.2,0.1,0.2
		c0.1,0.2,0.1,0.3,0,0.5l0,0l0,0l0.1,0.1c0.1,0,0.1,0.1,0.2,0.1c0.1,0.1,0.2,0.2,0.2,0.3c0.1,0.1,0.1,0.2,0.2,0.3c0,0.1,0,0.2,0,0.2
		v0.1c0.1,0,0.1,0,0.2,0.1l0.1,0c0.1,0,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.2,0.2,0.3c0,0.1,0,0.1,0,0.2c0.1,0,0.2,0.1,0.3,0.2
		c0,0,0,0,0.1,0c0.2,0.1,0.3,0.3,0.3,0.5l0,0.2c0.2,0.1,0.3,0.2,0.4,0.4c0.1,0.1,0.1,0.3,0,0.4h0c0.1,0.1,0.1,0.1,0.1,0.2
		c0,0.1,0.1,0.1,0.1,0.2l0,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.2,0.2,0.4,0.2,0.6v0l0.4,0.6l0.6,0.5c0.1,0.1,0.1,0.1,0.1,0.2
		c0,0,0.1,0,0.1,0c0.1,0,0.2,0.1,0.3,0.2l0.1,0.1c0.1-0.1,0.3-0.1,0.5,0l0.4,0.2c0,0,0.1,0,0.1,0l0.5,0c0.1,0,0.2,0,0.3,0.1l0.1,0.1
		c0.1,0,0.1,0.1,0.2,0.1l0.2,0.2c0.1,0.1,0.1,0.1,0.2,0.2l0.1,0.1l0.2,0.1c0.1,0,0.2,0.1,0.3,0.1l0.1,0.1c0.2,0.1,0.3,0.3,0.3,0.5
		l0,0l0.3,0.2c0,0,0.1,0,0.1,0l0.2,0c0.1,0,0.1,0,0.2,0.1c0.1,0.1,0.2,0.2,0.3,0.3l0.1,0.1c0.1,0,0.1,0.1,0.2,0.2l0.4,0.2
		c0,0,0.1,0.1,0.1,0.1c0.2,0.7,0.5,1.2,0.8,1.3l0,0c0,0,0,0,0.1,0l0,0c0.5,0.1,0.9,0.4,1.1,0.6l0.2,0.3c0,0,0-0.1,0-0.1l1.6,1.5
		l-0.1,1.6c0,0,0,0,0,0.1c0,0.1,0.1,0.1,0.1,0.2c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.2,0.3,0.4c0.1,0.1,0.2,0.2,0.2,0.3
		c0,0.1,0.1,0.1,0.1,0.2l0,0.1c0,0.1,0,0.2,0,0.2c0,0.1,0,0.2,0,0.2c0,0,0,0.1,0,0.1l0.3,0.1l0.3,0.2c0.1,0.1,0.2,0.1,0.2,0.2
		c0.1,0.2,0.2,0.5,0.1,0.8l-0.1,0.2v0.1c0,0.1,0,0.2-0.1,0.2l0,0.1l0,0c0,0,0,0.1,0.1,0.1c0.1,0,0.2,0.1,0.2,0.1l0,0
		c0.1,0,0.1,0.1,0.2,0.1l0.1-2.3c0-0.1,0.1-0.2,0.1-0.3c0.2-0.3,0.6-0.4,1-0.3l0.1,0.1l0.6-0.4c0.1,0,0.1-0.1,0.2-0.1l0.4-0.1l0.3,0
		l0.9,0.1l0-0.1l0.2-0.7v0l-0.3-0.5c0-0.1-0.1-0.1-0.1-0.2l-0.1-0.4c0-0.1,0-0.1,0-0.2l0-0.2l0.3-1.2l0-0.1l-0.3-2.9l0.1-0.8
		c0-0.1,0-0.2,0.1-0.2l0.1-0.2c0,0,0.1-0.1,0.1-0.1l0.2-0.2l1.1-0.8c0,0,1.2-1.8,2.4-0.7l0.7-0.4l1.9-1.8c0,0,0.1-0.1,0.1-0.1l1.7-1
		l0.2-0.2c0,0,0.1-0.1,0.1-0.1l0.2-0.1c0,0,0.1-0.1,0.1-0.1l0.6-0.2c0.1,0,0.1,0,0.2,0l0.5,0l0.7-0.3c0.1,0,0.1,0,0.2,0l0.4,0
		l0.6,0.1l0.5,0.2l0.2-0.1l1.3-0.7L69.7,94.4z"/>
              </g>
              <g id="center" [ngClass]="regionFlags.center && 'active'">
                <path d="M103.9,109.2l2-16.2l2.2-18.5l0-1.9l-0.1-0.9l-0.2-0.6l-0.6-1.2l-0.3-0.3l-1.9-2l-2.7-2c0,0-0.1-0.1-0.1-0.1l-0.3-0.4
		c0,0,0-0.1-0.1-0.1c0,0-0.1-0.2-0.1-0.3l-0.1-0.4l-0.3-12.2l-2.7-1.1c-0.1,0-0.1-0.1-0.2-0.1L98.5,51l-0.2-0.4L97,49.4l-1.4,0.2
		l-0.8-0.2l-2.5-1.7l-0.5-0.1l-1.2,0l-0.5-0.1c-0.1,0-0.1,0-0.2-0.1L89.5,47l-0.8-0.8L88,45.6l-0.5,0L87,45.4c-0.1,0-0.1,0-0.2-0.1
		L84.6,44c-0.1,0-0.1-0.1-0.1-0.1L84,43.5c0-0.1-0.1-0.1-0.1-0.2l-0.1-0.2l-0.4-1l-0.3-0.3c0,0-0.1,0.1-0.1,0.1l-0.4,0.2
		c-0.1,0.1-0.3,0.1-0.4,0.1l-0.2,0c-0.1,0-0.2,0-0.3-0.1l-0.4-0.3l-1-1.2l0,0l-1.1-0.9l-0.4-0.2l-2.6-0.4l-0.7-0.4l-0.3-0.2L75,37.8
		c0-0.1-0.1-0.1-0.1-0.2l-0.7-1.8l-1.3-2.3l-0.1,0l-1.2,0.7c-0.1,0-0.1,0-0.2,0.1l-0.2,0c-0.1,0-0.2,0-0.2,0l-0.6-0.2l-1.1-0.5
		l-0.7,0.1l-0.3,0c-0.1,0-0.1,0-0.2,0l-0.2-0.1c-0.1,0-0.1-0.1-0.2-0.1l-0.3-0.2c0,0-0.1-0.1-0.1-0.1l-0.2-0.2c0,0-0.1-0.1-0.1-0.2
		l-0.1-0.3c0,0,0-0.1-0.1-0.1l0-0.2c0,0,0-0.2,0-0.2l0-0.2l-1.2,0.5c0,0-0.1,0-0.1,0l-0.2,0c-0.1,0-0.1,0-0.2,0l-0.3-0.1
		c0,0-0.1,0-0.1,0l-0.8-0.4l-0.3-0.3l-1.2-1.3L62,30.4l-2.6-0.6l-0.7,0l-1.1,0.3c-0.1,0-0.1,0-0.2,0l-0.5-0.1c0,0-0.1,0-0.1,0
		l-2.1-0.7L54,29.5l-4.1,1c-0.1,0-0.1,0-0.2,0h-0.2c-0.1,0-0.1,0-0.2,0l-0.5-0.1l-1.2-0.5L44.8,31L42,32.6c-0.1,0-0.1,0.1-0.2,0.1
		l-1.4,0.4l-3,1.5l-0.2,0.2l2,0.5l0.9,0.4c0.1,0,0.1,0.1,0.2,0.1l0.2,0.2c0,0,0.1,0.1,0.1,0.1l0.2,0.2l0.4,0.2
		c0.1,0,0.1,0.1,0.1,0.1l1.4,1.3c0,0,0.1,0.1,0.1,0.2l0.2,0.5l1,3.7l0.2,0.1l0.9,0.5c0.1,0,0.1,0.1,0.1,0.1l0.4,0.4
		c0.1,0.1,0.2,0.2,0.2,0.4l0,0.2c0,0.1,0,0.2,0,0.2l0,0.2c0,0.1,0,0.1,0,0.2l-0.2,0.5c0,0-0.1,0.1-0.1,0.1l-0.2,0.2L44.4,46
		l-0.3,0.4L44,46.8l-0.7,1.8l0.1,0.8c0,0.1,0,0.1,0,0.2l-0.1,0.3c0,0,0,0.1,0,0.1L43,50.5l0.3,0c0.2,0,0.3,0.1,0.5,0.2l0.2,0.2
		c0.1,0.1,0.1,0.1,0.2,0.2l0.1,0.2c0,0.1,0.1,0.2,0.1,0.3l0,0.2c0,0.1,0,0.1,0,0.2l-0.4,3l0,0.3l0.2,0.8l0.2,0.9c0,0,0,0.1,0,0.1
		l-0.1,2.2l0.1,0.2l0.1,0.1l0.1,0l0.2,0l1.8-0.7l0.5-0.1l1.1,0l0.6-0.2l0.9-1l0.3-0.2l0.7-0.2l1.5-0.1l2.7,0.5l2.3,0.8l0.3,0.3
		l0.1,0.1c0.1,0.1,0.1,0.2,0.1,0.2l0.1,0.5c0,0.1,0,0.1,0,0.2l-0.1,2.2l0.1,0.2l1.2,0.4c0,0,0.1,0.1,0.2,0.1
		c0.1,0.1,0.2,0.2,0.2,0.3l0.3,0.7l0.5,1.9l0.1,0.1l0.3,3l0,0.2c0,0.1,0,0.1,0,0.2l0,0.2l0,0.5l-0.1,0.7l-0.1,1.4l0,0.7l-0.1,0.9
		l0,0.3l0.4,0.3l0.2,0.2l0.2,0.4c0,0.1,0.1,0.1,0.1,0.2l0.7,2l0.2,1.2l1.2,2.5l0.4,0.1l1.1,0l2.5,0.3l0.3,0.1c0.1,0,0.1,0.1,0.1,0.1
		l0.2,0.2c0.1,0,0.1,0.1,0.1,0.2l0.1,0.2c0,0.1,0.1,0.2,0.1,0.2l0,0.2c0,0.1,0,0.2,0,0.3L68,82.6l0,0.8l0,0.1l0.1,0.2l0.3,0.1
		l1.1-0.3c0.1,0,0.1,0,0.2,0l0.2,0l1,0.2c0,0,0.1,0,0.1,0l0.3,0.1c0.1,0,0.2,0.1,0.2,0.1l0.1,0.1c0.1,0.1,0.2,0.3,0.2,0.5
		c0,0.1,0,0.1,0,0.2l-0.2,1.3l0,0.2l0.4,3L72,89.9c0,0,0,0.1-0.1,0.1l-0.2,0.4l-0.3,0.5l0.1,1.3c0,0,0,0.1,0,0.1l0,0.4L71.1,94
		l0.1,0.2l1.9,2.9l1.1,1l0.5,0.6l0.7,1.1l0.6,0.7c0,0.1,0.1,0.1,0.1,0.2l0.2,0.5l0,0.3l-0.1,0.7l-0.1,0.3l-0.6,1l-0.3,1.4l0.1,0.1
		l0.4,0.5l0.8,1.3l3,2.8l0,0l2.7,1.6l0.4,0.1l0.7,0.2l1.9,0.1l18.2-2L103.9,109.2z"/>
              </g>
              <g id="south" [ngClass]="regionFlags.south? 'active': ''">
                <path d="M84.6,112.5l-2.2-0.1l-0.9-0.2l-1.1-0.5l-1.2-0.8l-1.4-0.9l-3-2.8c0,0-0.1-0.1-0.1-0.2l-0.8-1.3l-0.6-0.7
		c-0.1-0.1-0.1-0.2-0.1-0.3l-0.1-0.6c0-0.1,0-0.1,0-0.2l0.3-1.5c0-0.1,0-0.1,0.1-0.2l0.2-0.3l0.5-1l0-0.1l-0.6-0.7l-1.2-1.6
		l-0.8-0.7l-0.4,0.2l-1.5,0.9c-0.1,0-0.1,0-0.2,0l-0.2,0c-0.1,0-0.2,0-0.3,0l-0.8-0.2l-0.3,0.1l-0.6,0.3l-0.2,0c-0.1,0-0.1,0-0.2,0
		l-0.7,0.1l-0.6,0.5l-1.6,0.9l-2.3,2.1l-0.8,0.4c-0.1,0-0.1,0-0.2,0l-0.2,0c-0.1,0-0.2,0-0.3-0.1l-0.4-0.2l-0.2-0.2l0,0
		c0,0.1-0.1,0.2-0.1,0.3l-0.4,0.5l-1.1,0.8l-0.2,1.2l-0.3,0.8l0.1,0c0.1,0.1,0.3,0.2,0.4,0.3l0.3,0.4c0,0.1,0.1,0.1,0.1,0.2l0.1,0.5
		l0,0.3l-0.3,1.2l0,0.2l0.3,0.5c0,0.1,0.1,0.1,0.1,0.2l0,0.2c0,0.1,0,0.1,0,0.2v0.2c0,0.1,0,0.1,0,0.2L58,112c0,0.1-0.1,0.1-0.1,0.2
		l-0.1,0.2c0,0-0.1,0.1-0.1,0.1l-0.2,0.1c-0.1,0-0.1,0.1-0.2,0.1c0,0-0.2,0.1-0.2,0.1c-0.1,0-0.2,0-0.3,0.1h-0.2l-0.9-0.1l-0.1,0
		l-0.6,0.5c0,0-0.1,0.1-0.1,0.1l-0.1,0.1c-0.1,0-0.2,0.1-0.3,0.1l0,1.3l0.1,0.4l1.2,0l0.7,0.2l0.2,0.1c0.1,0,0.1,0.1,0.2,0.1
		l0.1,0.1c0.1,0.1,0.1,0.1,0.1,0.2l0.1,0.2l0.7,2.1c0,0.1,0,0.1,0,0.2l-0.1,0.7l-0.5,1.6l-0.3,0.4c0,0-0.1,0.1-0.2,0.1l-0.6,0.4
		l0.1,0.1c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.2,0.2,0.2,0.4c0,0.1,0,0.2,0,0.3l0.6,0.6c0,0,0,0,0.1,0.1c0,0,0.1,0,0.1,0.1l0,0
		c0.2,0,0.4,0.1,0.5,0.2l0.4,0.4c0.1,0.1,0.2,0.1,0.2,0.2l0.1,0.1c0.1,0,0.3,0.1,0.4,0.2l0.3,0.3c0.1,0,0.2,0.1,0.3,0.1
		c0.1,0.1,0.2,0.1,0.2,0.2c0,0.1,0.1,0.1,0.1,0.2l0.1,0.2c0,0,0.1,0,0.1,0.1l0.9,0.8c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.3,0.2,0.4,0.3
		c0.1,0.1,0.1,0.2,0.1,0.3l0.1,0.5c0,0.1,0,0.1,0,0.2l0,0.3l0.1,0.9l0.1,0.1c0.1,0,0.2,0.1,0.2,0.2c0.1,0.1,0.2,0.2,0.2,0.3
		c0,0.1,0.1,0.2,0.1,0.3l0,0.2l0.1,0c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.1,0.1,0.1,0.2c0.2,0.1,0.3,0.3,0.3,0.4l0,0.2
		c0,0.1,0,0.1,0,0.2v0.3c0,0.1,0.1,0.2,0,0.3l0.2,0.1c0.1,0.1,0.2,0.1,0.2,0.2l0.5,0.6c0.1,0,0.1,0.1,0.1,0.2
		c0.1,0.1,0.1,0.3,0.1,0.4c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.1,0.2,0.1,0.4v0.2c0,0.1,0,0.1,0,0.2l-0.1,0.4l0,0.1l0.2,0.3
		c0.1-0.1,0.1-0.1,0.2-0.2c0.1,0,0.2-0.1,0.2-0.1l0.2,0l0.3-0.2l0.2-0.6c0,0,0-0.2,0.1-0.2c0.1-0.2,0.2-0.4,0.4-0.5
		c0.1,0,0.2-0.1,0.3-0.1c0,0,0-0.1,0-0.1c-0.1-0.1-0.2-0.2-0.2-0.3l-0.2-0.5c0-0.1,0-0.1-0.1-0.2c0-0.2,0-0.3,0-0.5l0.2-0.6l0-0.1
		l-0.1-0.1c0-0.2-0.1-0.3,0-0.5l0.2-0.7c0-0.1,0-0.1,0-0.2l0.1-0.2c0-0.1,0.1-0.2,0.2-0.3c-0.1-0.2-0.2-0.4-0.1-0.7
		c0-0.1,0.1-0.2,0.1-0.3l0.4-0.5l0.6-0.5c0,0,2-0.5,2.8-0.6c0.5,0.7,1.6,1.2,1.6,1.2l0.2,0c0.1,0,0.1,0,0.2,0l0.2,0l0.1,0
		c0.1,0,0.3,0,0.4,0c0,0,0.1,0,0.1,0.1c0,0,0,0,0.1,0l0.2-0.1c0.1-0.1,0.3-0.1,0.4-0.1c0.1,0,0.2,0,0.4,0.1c0,0,0.1-0.1,0.1-0.1
		l0.1-0.1c0.2-0.1,0.4-0.2,0.6-0.2l0.4,0.1l0.5-0.1l0.9-0.1l0.6,0l0.6,0.1l0.4-0.2c0,0,0.1,0,0.1,0l0.2,0l4.3,0l0.6,0.1
		c0.1,0,0.2,0,0.2,0.1l1.4,0.8l6.9,0.7l3-0.4c0.2,0,0.3,0,0.4,0.1l0.3,0.2c0.1,0.1,0.2,0.1,0.2,0.2l1.6,2.3l0.8,0l0.2-0.1l1.5-0.9
		l2.3-19.2L84.6,112.5z"/>
              </g>
              <g id="north" [ngClass]="regionFlags.north? 'active': ''">
                <path d="M79.6,26.9c-0.1,0-0.1,0-0.2-0.1l-0.2-0.1c-0.1,0-0.1-0.1-0.2-0.1L63.9,14.2l-5.4-4.7L45.3,1.6L36.1,0l-0.9,0.8
		c-0.1,0.1-0.1,0.1-0.2,0.1l-0.3,0.1l-7.4,2.2l-1.6,0.5l-5.7,1.7l5.2,5.8l2.1,2.5c0.1,0.2,0.2,0.3,0.2,0.5c0,0.2-0.1,0.4-0.3,0.5
		c0,0-0.1,0.1-0.1,0.1l-2.4,1.4L23.6,19c0,0.1-0.1,0.2-0.2,0.3l-0.2,0.2c-0.1,0.1-0.2,0.1-0.3,0.2l-5.6,1.2l-1.8,3
		c0,0.1-0.1,0.1-0.2,0.2l-3.2,2.7c-0.1,0-0.1,0.1-0.2,0.1l-0.2,0.1c-0.1,0-0.1,0.1-0.2,0.1l-0.2,0c-0.1,0-0.1,0-0.2,0l-7.6-1.3
		c0,0.3-0.1,0.5-0.3,0.7c0,0,0,0,0,0.1l-0.1,0.2l-0.1,0.8c0,0,0,0.1,0,0.1L3,27.6c0,0.1,0.1,0.2,0,0.4l0,0.2c0,0,0.1,0,0.1,0l0.3,0
		l0.8,0.2L5,28.4l0.2-0.2c0,0,0.1-0.1,0.1-0.1L5.6,28c0,0,0.1,0,0.1-0.1l0.3-0.1l1.7-0.3l2.3-0.2c0.1,0,0.1,0,0.2,0l1.5,0.4
		c0,0,0.1,0,0.1,0.1l0.6,0.4l0.3,0.3l2.2,2.7l0.7-0.3l2-0.4c0,0,0.1,0,0.2,0h0.6l0.6,0.1L21,31l1.2,0.1h0l0.1-0.1l0.4-1l0.2-0.3
		c0,0,0.1-0.1,0.1-0.1l0.2-0.1l0.6-0.4l0.4-0.4c0.1-0.1,0.1-0.1,0.2-0.1l0.2-0.1c0.1-0.1,0.3-0.1,0.4,0l0.2,0c0.1,0,0.2,0.1,0.3,0.2
		l0.1,0.1c0.1,0.1,0.1,0.1,0.2,0.2l0.1,0.2c0,0.1,0.1,0.1,0.1,0.2l0,0.2c0,0.1,0,0.1,0,0.2l-0.1,1.4l0.1,1.5l0.3,0.5l0.6,0.5
		l1.2,0.4l1.5,0.2L30,34c0,0,0.1,0,0.1-0.1l0.3-0.1c0.1,0,0.2,0,0.3,0l0.2,0c0.1,0,0.2,0,0.2,0.1l0.2,0.1h0.3c0.3,0,0.5,0.2,0.7,0.4
		l0.1,0.3l0,0l1.1-0.5l0.7-0.1c0.1,0,0.2,0,0.2,0l0.2,0.1l0,0l0.4-0.5c0,0,0.1-0.1,0.1-0.1l0.4-0.3l3-1.5l1.4-0.4l2.8-1.6l3.1-1.3
		c0.1,0,0.1,0,0.2,0l2,0.6l0,0l0.2,0.1l0,0l0,0c0,0,0,0,0,0l4.7-1h0.4l0.4,0.1l2.2,0.7l0.1,0l0.9-0.2l1.2-0.1c0.1,0,0.1,0,0.2,0
		l3.2,0.8l0.6,0.4l1.4,1.4l0.3,0.1l0.4-0.1l0.8-0.4c0,0,0.1,0,0.1,0l0.2-0.1c0,0,0.1,0,0.2,0H66c0.1,0,0.2,0,0.3,0.1l0.1,0.1
		c0.1,0,0.1,0.1,0.2,0.1c0.1,0.1,0.2,0.3,0.3,0.5c0,0,0,0.2,0,0.2l0.2,0.9l0.3,0.1l0.7-0.1c0.1,0,0.1,0,0.2,0l0.6,0.1l1.1,0.5
		l0.2-0.1l1.1-0.7c0.1,0,0.2-0.1,0.3-0.1l0.3,0c0.1,0,0.2,0,0.3,0.1l0.2,0.1c0.1,0,0.1,0.1,0.1,0.1l0.2,0.1c0.1,0,0.1,0.1,0.2,0.2
		l0.1,0.2l1.4,2.5l0.7,1.8l0.5,0.5l0.3,0.1l2.3,0.3c0.1,0,0.1,0,0.2,0.1l0.9,0.5l1.6,1.5l0-0.3l0.1-0.6l0.4-1l1.7-2.2l2.7-5.2
		l0.5-0.8l0.7-0.8l0.8-0.8c0,0,0.1-0.1,0.1-0.1l1.1-0.6l0.9-0.3L79.6,26.9z"/>
              </g>
            </svg>

          </div>
        </div>
        <div class="age-filter cursor-pointer" style="max-height: 34px" (click)="reset()">Reset</div>
      </div>

      <div class="d-flex align-items-baseline mt-4 flex-column">
        <p class="f-14">Gender</p>
        <div class="d-flex">
          <div class="ml-2 cursor-pointer"><a (click)="genderClicked('female')">
            <img width="45"
            [src]="isFemale ? femaleFilledSvg : femaleSvg"
            alt="female"></a></div>
          <div class="ml-2 cursor-pointer"><a (click)="genderClicked('male')">
            <img width="45" [src]="isMale ? maleFilledSvg : maleSvg"
                 alt="male"></a>
          </div>
        </div>
      </div>

      <div class="d-flex mt-4 flex-column">
        <p class="f-14">Age</p>
        <div>
          <span class="cursor-pointer" (click)="ageFilter(0)" [ngClass]="ageLimit[0] == true? 'age-filter-active' : 'age-filter'"> 15-25</span>
          <span (click)="ageFilter(1)" [ngClass]="ageLimit[1] == false? 'age-filter' : 'age-filter-active'"
                class="cursor-pointer ml-2"> 25-35 </span>
          <span (click)="ageFilter(2)" [ngClass]="ageLimit[2] == false? 'age-filter' : 'age-filter-active'"
                class="cursor-pointer ml-2"> 35+ </span>
        </div>
      </div>

    </div>
    <div>

    </div>
  </div>
</div>
