/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~animate.css/animate.min.css';

.f-16 {
  font-size: 16px !important;
}

/*HelveticaNeue REGULAR font face*/
@font-face {
  font-family: 'HelveticaNeue-regular';
  src: url('../src/assets/fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*HelveticaNeue LIGHT font face*/
@font-face {
  font-family: 'HelveticaNeue-light';
  src: url('../src/assets/fonts/HelveticaNeue Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*HelveticaNeue MEDIUM font face*/
@font-face {
  font-family: 'HelveticaNeue-medium';
  src: url('../src/assets/fonts/HelveticaNeue Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*HelveticaNeue BOLD font face*/
@font-face {
  font-family: 'HelveticaNeue-bold';
  src: url('../src/assets/fonts/Helvetica Neu Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
